<ion-content>
  <ion-input placeholder="Flat Number" [(ngModel)]="flatNumber"></ion-input>
  <ion-input placeholder="Wing" [(ngModel)]="wing"></ion-input>
  <ion-input placeholder="Society Name" [(ngModel)]="societyName"></ion-input>
  <ion-input placeholder="Area" [(ngModel)]="area"></ion-input>
  <ion-input placeholder="City" [(ngModel)]="city"></ion-input>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="gotoHomePage()">
            Skip
          </ion-button>
        </ion-buttons> 
        <ion-buttons slot="start">
          <ion-button (click)="gotoHomePage()">
            Update
          </ion-button>
        </ion-buttons>        
      </ion-toolbar>
</ion-footer>
  